<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.js.model.workflow.template"
            class="org.js.model.workflow.template.TemplatePackage"
            genModel="src/main/model/template.genmodel"/>
   </extension>
   <extension
         id="org.js.model.workflow.template"
         name="workflow template aspect"
         point="org.eclipse.jwt.we.conf.model.conf">
      <conf
            file="conf/template.conf">
      </conf>
   </extension>

</plugin>
